<a href="https://colab.research.google.com/github/ReidelVichot/GrantAssistProgram/blob/main/grantassistantprogram%2011-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np
import requests
from zipfile import ZipFile

In [11]:
#Update this variables
zip_url = "https://files.usaspending.gov/generated_downloads/PrimeAwardSummariesAndSubawards_2022-10-26_H15M37S47541905.zip"
zip_file = "PrimeAwardSummariesAndSubawards_2022-10-26_H15M37S47541905.zip"
csv_file = "Assistance_PrimeAwardSummaries_2022-10-26_H15M37S48_1.csv"

#Get the zip from the website
req = requests.get(zip_url, allow_redirects=True)

#Open the zip as a file
with open(zip_file, "wb") as file:
    file.write(req.content)

#Extract the zip
with ZipFile(zip_file, 'r') as zipObj:
   zipObj.extractall()

In [12]:
#Get the document as a csv
df = pd.read_csv(csv_file, low_memory= False)

In [15]:
#Name of Municipalities as appear on the Database
de_municipalities = ("BLADES, TOWN OF", "BOWERS, TOWN OF", "BRIDGEVILLE, COMMISSIONERS OF",
 "BRIDGEVILLE, TOWN OF", "CHESWOLD, TOWN OF", "CITY OF DOVER",
 "CITY OF NEWARK", "CITY OF WILMINGTON", "DAGSBORO, TOWN OF",
 "DELAWARE CITY, CITY OF", "DELMAR  DE TOWN OF", "DELMAR DELAWARE, TOWN OF",
 "DELMAR, DE TOWN OF", "DOVER, CITY OF (INC)", "DOWNTOWN MILFORD,  INC",
 "ELLENDALE  TOWN OF", "ELSMERE, TOWN OF", "GEORGETOWN  TOWN OF",
 "GEORGETOWN, TOWN OF", "GREENWOOD  TOWN OF", "HARRINGTON  CITY OF",
 "HARRINGTON, CITY OF", "LAUREL  TOWN OF", "LAUREL, TOWN OF",
 "MILFORD, CITY OF", "MILFORD, CITY OF (INC)", "MILLSBORO, TOWN OF",
 "MILTON, TOWN OF", "MILTON,TOWN OF", "NEW CASTLE, CITY OF", "NEWARK, CITY OF",
 "SEAFORD (INC), CITY OF", "SELBYVILLE, TOWN OF", "SELBYVILLE, TOWN OF , THE",
 "SLAUGHTER BEACH, TOWN OF", "SMYRNA, TOWN OF", "TOWBN OF LAUREL",
 "WILMINGTON CITY OF", "WILMINGTON, CITY OF")

de_counties = ('KENT COUNTY', 'KENT, COUNTY OF', 'NEW CASTLE, COUNTY OF',
               'NEW CASTLE COUNTY','SUSSEX CNTY, DELAWARE', 'SUSSEX COUNTY',
               'SUSSEX, COUNTY OF')

#Columns of interest
columns = ['recipient_name','total_funding_amount','assistance_type_description']
cities = df[columns]


cities = cities.set_index("recipient_name")
#If another city is added in the original databata, then it has to be added here.  
cities = cities.loc(axis=0)["BLADES, TOWN OF", "BOWERS, TOWN OF", "BRIDGEVILLE, COMMISSIONERS OF",
 "BRIDGEVILLE, TOWN OF", "CHESWOLD, TOWN OF", "CITY OF DOVER",
 "CITY OF NEWARK", "CITY OF WILMINGTON", "DAGSBORO, TOWN OF",
 "DELAWARE CITY, CITY OF", "DELMAR  DE TOWN OF", "DELMAR DELAWARE, TOWN OF",
 "DELMAR, DE TOWN OF", "DOVER, CITY OF (INC)", "DOWNTOWN MILFORD,  INC",
 "ELLENDALE  TOWN OF", "ELSMERE, TOWN OF", "GEORGETOWN  TOWN OF",
 "GEORGETOWN, TOWN OF", "GREENWOOD  TOWN OF", "HARRINGTON  CITY OF",
 "HARRINGTON, CITY OF", "LAUREL  TOWN OF", "LAUREL, TOWN OF",
 "MILFORD, CITY OF", "MILFORD, CITY OF (INC)", "MILLSBORO, TOWN OF",
 "MILTON, TOWN OF", "MILTON,TOWN OF", "NEW CASTLE, CITY OF", "NEWARK, CITY OF",
 "SEAFORD (INC), CITY OF", "SELBYVILLE, TOWN OF", "SELBYVILLE, TOWN OF , THE",
 "SLAUGHTER BEACH, TOWN OF", "SMYRNA, TOWN OF", "TOWBN OF LAUREL",
 "WILMINGTON CITY OF", "WILMINGTON, CITY OF"] 

#Removing Block grants
cities = cities[cities["assistance_type_description"] != "BLOCK GRANT (A)"]
#Removing Formula grants
cities = cities[cities["assistance_type_description"] != "FORMULA GRANT (A)"]

#-----------------------------------------------------------------------------------
#question: what should I do with 'COOPERATIVE AGREEMENT (B)', 'PROJECT GRANT (B)'
#-----------------------------------------------------------------------------------

In [26]:
cities.reset_index().replace(to_replace=("BLADES, TOWN OF" , "BOWERS, TOWN OF"), value="Town of Blades")

,recipient_name,total_funding_amount,assistance_type_description
0,Town of Blades,615000.00,NaN
1,Town of Blades,100000.00,NaN
2,Town of Blades,484700.00,NaN
3,"BRIDGEVILLE, COMMISSIONERS OF",25000.00,NaN
4,"BRIDGEVILLE, COMMISSIONERS OF",25000.00,NaN
...,...,...,...
117,WILMINGTON CITY OF,24991.00,PROJECT GRANT (B)
118,WILMINGTON CITY OF,24999.00,PROJECT GRANT (B)
119,"WILMINGTON, CITY OF",2023949.67,PROJECT GRANT (B)
120,"WILMINGTON, CITY OF",1601200.00,NaN
121,"WILMINGTON, CITY OF",300000.00,COOPERATIVE AGREEMENT (B)

In [18]:
cities = cities.reset_index()
#Fixing the issues of names in the orginal data. This has to be updated each time that a new town is added

cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="City of Wilmington")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Millsboro")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Laurel")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="City of Harrington")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="City of Dover")

cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="City of Milford")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Georgetown")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="City of Newark")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Smyrna")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Selbyville")

cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Blades")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Middletown")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Ocean View")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Bowers")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Delaware City")

cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Cheswold")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Frankford")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Camden")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="City of Seaford")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Dewey Beach")

cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Milton")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Clayton")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Dagsboro")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Delmar")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Bridgeville")

cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Bridgeville")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Bridgeville")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Bridgeville")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Bridgeville")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Bridgeville")

cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Bridgeville")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Bridgeville")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Bridgeville")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Bridgeville")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Bridgeville")

cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Bridgeville")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Bridgeville")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Bridgeville")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Bridgeville")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Bridgeville")




"BOWERS, TOWN OF"
"BRIDGEVILLE, COMMISSIONERS OF"
"BRIDGEVILLE, TOWN OF", 
"CHESWOLD, TOWN OF", 
"CITY OF DOVER",
"CITY OF NEWARK", 
"CITY OF WILMINGTON", 
"DAGSBORO, TOWN OF",
"DELAWARE CITY, CITY OF",
"DELMAR  DE TOWN OF", 
"DELMAR DELAWARE, TOWN OF",
"DELMAR, DE TOWN OF", 
"DOVER, CITY OF (INC)", 
"DOWNTOWN MILFORD,  INC",
"ELLENDALE  TOWN OF", 
"ELSMERE, TOWN OF", 
"GEORGETOWN  TOWN OF",
"GEORGETOWN, TOWN OF", 
"GREENWOOD  TOWN OF", 
"HARRINGTON  CITY OF",
"HARRINGTON, CITY OF", 
"LAUREL  TOWN OF", 
"LAUREL, TOWN OF",
"MILFORD, CITY OF", 
"MILFORD, CITY OF (INC)", 
"MILLSBORO, TOWN OF",
"MILTON, TOWN OF", 
"MILTON,TOWN OF",
"NEW CASTLE, CITY OF", 
"NEWARK, CITY OF",
"SEAFORD (INC), CITY OF", 
"SELBYVILLE, TOWN OF", 
"SELBYVILLE, TOWN OF , THE",
"SLAUGHTER BEACH, TOWN OF", 
"SMYRNA, TOWN OF", 
"TOWBN OF LAUREL",
"WILMINGTON CITY OF", 
"WILMINGTON, CITY OF"

,recipient_name,total_funding_amount,assistance_type_description
0,"BLADES, TOWN OF",615000.00,NaN
1,"BLADES, TOWN OF",100000.00,NaN
2,"BOWERS, TOWN OF",484700.00,NaN
3,"BRIDGEVILLE, COMMISSIONERS OF",25000.00,NaN
4,"BRIDGEVILLE, COMMISSIONERS OF",25000.00,NaN
...,...,...,...
117,WILMINGTON CITY OF,24991.00,PROJECT GRANT (B)
118,WILMINGTON CITY OF,24999.00,PROJECT GRANT (B)
119,"WILMINGTON, CITY OF",2023949.67,PROJECT GRANT (B)
120,"WILMINGTON, CITY OF",1601200.00,NaN
121,"WILMINGTON, CITY OF",300000.00,COOPERATIVE AGREEMENT (B)

In [ ]:




City of Dover
City of Milford
Town of Georgetown
City of Newark
Town of Smyrna
Town of Selbyville
Town of Blades
Town of Middletown
Town of Ocean View
Town of Bowers
Town of Delaware City
Town of Cheswold
Town of Frankford
Town of Camden
City of Seaford
Town of Dewey Beach
Town of Milton
Town of Clayton
Town of Dagsboro
Town of Delmar
Town of Bridgeville
Town of Wyoming
Town of Elsmere
Town of Slaughter Beach
City of New Castle
Town of Greenwood
Town of Ellendale
Village of Arden
Village of Ardencroft
Village of Ardentown
Town of Bellefonte
Town of Bethany Beach 
Town of Bethel
Town of Farmington
Town of Felton
Town of Fenwick Island
Town of Frederica
Town of Hartly
Town of Henlopen Acres
Town of Houston
Town of Kenton
Town of Leipsic
City of Lewes
Town of Little Creek
Town of Magnolia
Town of Millville
Town of Newport
Town of Odessa
City of Rehoboth Beach
Town of South Bethany
Town of Townsend
Town of Viola
Town of Woodside